@import "bootstrap-sprockets";
@import "bootstrap";

@media (min-width:765px){
  .ctl-fixed-width {
  	width:100px !important;
  	}
  }

.carousel-inner img {
  	width:100%;
  	max-height:400px !important;
  }
  
  @media (min-width:1000px){
  	.large {
  		font-size:4em;
  	}
  
  	.col-md-4 {
  		display:block;
  		text-align:center;
  		margin-bottom:10px;
  	}
  	
  	#slogan {
  		text-align:center;
  		font-size:1.5em;
  		margin-bottom:10px;
  	}
  	
  	button {
  		background-color:white;
  		border:none;
  	}
  }
  
  @media (max-width:999px){
  	.large {
  		font-size:3em;
  	}
  	
  	.col-md-4 {
  		display:block;
  		text-align:center;
  	}
  	
  	#slogan {
  		text-align:center;
  		font-size:1em;
  		margin-bottom:10px;
  	}
  
  }
  
.footer {
  margin-top:10px;
  padding-left:15px;
  border-top:1px solid gray;
}

h1 {
  text-align:center;
}

.chef_info {
  text-align:center;
  margin-top:15px;
}

.gravatar {
  border-radius:10px;
}

.well {
  background-color: #EDEDED;
}

#navForm input {
  margin-bottom: 0;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

span.picture {
  margin-top: 5px;
  input {
    border: none;
  }
}
